<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Hello PrisonRideshare!</title>
    <link rel="stylesheet" href="<%= static_path(@conn, "/css/app.css") %>">
  </head>

  <body>
    <div class="container">
      <header class="header">
        <nav class="navbar navbar-default" role="navigation">
          <div class="container-fluid">
            <div class="navbar-header">
              <%= link "Prison Rideshare", to: "/", class: "navbar-brand" %>
            </div>
            <div class="collapse navbar-collapse">
              <ul class="nav navbar-nav">
                <%= if Coherence.logged_in?(@conn) do %>
                <%= if Coherence.current_user(@conn).admin do %>
                <li><%= link "Requests", to: request_path(@conn, :index), class: "requests" %></li>
                <li><%= link "Reports", to: report_path(@conn, :index), class: "reports" %></li>
                <li><%= link "People", to: person_path(@conn, :index), class: "people" %></li>
                <li><%= link "Institutions", to: institution_path(@conn, :index) %></li>
                <%= end %>
                <li><%= link "Log out", to: session_path(@conn, :delete), method: :delete, class: "logout" %></li>
                <% else %>
                <li><%= link "Log in", to: session_path(@conn, :new) %></li>
                <li><%= link "Submit ride report", to: report_path(@conn, :new), class: "report" %></li>
                <% end %>
              </ul>
            </div>
          </div>
        </nav>
      </header>

      <p class="alert alert-info" role="alert"><%= get_flash(@conn, :info) %></p>
      <p class="alert alert-danger" role="alert"><%= get_flash(@conn, :error) %></p>

      <main role="main">
        <%= render @view_module, @view_template, assigns %>
      </main>

    </div> <!-- /container -->
    <script src="<%= static_path(@conn, "/js/app.js") %>"></script>
  </body>
</html>
