<p><%= @person.name %>, <a href={@link}>here’s</a> your personal calendar link for <%= @month %>.</p>

<p>Specify your availability in advance for the coordinator, they will confirm with you if a ride request comes for a slot you’ve chosen.</p>

<p><a href='https://barnoneblog.wordpress.com/rideshare/driver-calendar/'>Documentation</a></p>

<p>If you’d like to stop receiving these emails or change your contact information, visit the link and let us know under the “Edit Communication Details” button.</p>

<p>2025 😯</p>
