<p>Hey, <%= @person.name %>!</p>

<p><a href={@link}>Here</a> is your unique calendar link for <%= @month %>.</p>

<p>You can use this to share availability in advance with the coordinator, they will ask you first if a ride request comes for a slot you’ve chosen.</p>

<p>For operational details visit <a href='https://barnoneblog.wordpress.com/rideshare/driver-calendar/'>here</a></p>

<p>If you’d like to stop receiving these emails or change your contact information, visit the link and let us know under the “Edit Communication Details” button.</p>

<p>Thanks for volunteering 💞 #FreeThemAll</p>
