<p>Hello <%= @person.name %>,</p>

<p><a href='<%= @link %>'>Here</a> is your unique calendar link for <%= @month %>.</p>

<p>If you don’t know how the calendar works, <a href='https://barnoneblog.wordpress.com/rideshare/driver-calendar/'>here</a> is an explanation.</p>

<p>Does this feature work for you? Do you have suggestions on how it could be better? Let us know. If you’d like to stop receiving these emails, visit the link and let us know under the “Edit Communication Details” button.</p>

<p>Thanks for volunteering 🤩</p>
