Hello <%= @person.name %>,

Here is your unique calendar link for <%= @month %>: <%= @link %>

Click any slot that you can commit in advance to driving visitors for. We’ll contact you if anyone books a visit for that time.

We rely on you being available if you commit, with the understanding that urgent circumstances could always come up. If you find you can no longer drive for a slot you’ve committed to, you can click it again to delete your commitment.

Use the “Edit communication details” button to update your name or phone numbers. Please email us if you need to change your email address, as that can’t be edited this way yet.

Thanks for continuing to bring people to see their loved ones in prison, we appreciate it! 😍
