<h2>Show reimbursement</h2>

<ul>

  <li>
    <strong>Amount:</strong>
    <%= @reimbursement.amount %>
  </li>

  <li>
    <strong>Person:</strong>
    <%= @reimbursement.person_id %>
  </li>

</ul>

<%= link "Edit", to: reimbursement_path(@conn, :edit, @reimbursement) %>
<%= link "Back", to: reimbursement_path(@conn, :index) %>
