<h2>New ride</h2>

<%= render "form.html", changeset: @changeset,
                        institutions: @institutions,
                        people: @people,
                        action: ride_path(@conn, :create) %>

<%= link "Back", to: ride_path(@conn, :index) %>
